{% extends 'taskgraph/mainpage.html' %}

{% block title_block %}
    Analysis
{% endblock %}

{% block body_block %}
    <div class='vertex' style="margin-left: 50px;margin-top: 180px">Task1</div>

    <div class='vertex' style="margin-left: 176px;margin-top: 80px">Task2</div>
    <div class='vertex active_vertex' style="margin-left: 176px;margin-top: 180px">Task3</div>
    <div class='vertex' style="margin-left: 176px;margin-top: 280px">Task4</div>

    <div class='vertex' style="margin-left: 306px;margin-top: 80px">Task5</div>
    <div class='vertex' style="margin-left: 306px;margin-top: 180px">Task6</div>

    <div class='vertex' style="margin-left: 428px;margin-top: 80px">Task7</div>
    <div class='vertex' style="margin-left: 428px;margin-top: 180px">Task8</div>

    <div class='vertex' style="margin-left: 554px;margin-top: 80px">Task9</div>
    <div class='vertex active_vertex' style="margin-left: 554px;margin-top: 180px">Task10</div>
    <div class='vertex' style="margin-left: 554px;margin-top: 280px">Task11</div>

    <div class='vertex' style="margin-left: 680px;margin-top: 180px">Task12</div>





    <div class='rect_horizontal' style="margin-left: 130px;margin-top: 190px;width: 22px;"></div>
    <div class='rect_vertical' style="margin-left: 150px;margin-top: 100px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 152px;margin-top: 100px;width: 10px"></div>

    <div class='arrow' style="margin-left: 130px;margin-top: 200px;width: 32px"></div>

    <div class='rect_horizontal' style="margin-left: 130px;margin-top: 210px;width: 26px;"></div>
    <div class='rect_vertical' style="margin-left: 154px;margin-top: 212px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 156px;margin-top: 300px;width: 6px"></div>




    <div class='arrow' style="margin-left: 256px;margin-top: 90px;width: 36px"></div>

    <div class='rect_horizontal' style="margin-left: 256px;margin-top: 100px;width: 22px;"></div>
    <div class='rect_vertical' style="margin-left: 276px;margin-top: 102px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 278px;margin-top: 190px;width: 14px"></div>

    <div class='rect_horizontal_active' style="margin-left: 256px;margin-top: 200px;width: 26px;"></div>
    <div class='rect_vertical_active' style="margin-left: 280px;margin-top: 100px;height: 100px;"></div>
    <div class='arrow active_arrow' style="margin-left: 282px;margin-top: 100px;width: 10px"></div>

    <div class='arrow' style="margin-left: 256px;margin-top: 210px;width: 36px"></div>

    <div class='rect_horizontal' style="margin-left: 256px;margin-top: 300px;width: 30px;"></div>
    <div class='rect_vertical' style="margin-left: 284px;margin-top: 200px;height: 100px;"></div>
    <div class='arrow' style="margin-left: 286px;margin-top: 200px;width: 6px"></div>




    <div class='arrow active_arrow' style="margin-left: 386px;margin-top: 100px;width: 28px"></div>

    <div class='rect_horizontal' style="margin-left: 386px;margin-top: 200px;width: 22px;"></div>
    <div class='rect_vertical' style="margin-left: 406px;margin-top: 110px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 408px;margin-top: 110px;width: 6px"></div>

    <div class='arrow' style="margin-left: 386px;margin-top: 210px;width: 28px"></div>





    <div class='arrow' style="margin-left: 508px;margin-top: 100px;width: 32px"></div>

    <div class='rect_horizontal_active' style="margin-left: 508px;margin-top: 110px;width: 22px;"></div>
    <div class='rect_vertical_active' style="margin-left: 528px;margin-top: 112px;height: 80px;"></div>
    <div class='arrow active_arrow' style="margin-left: 530px;margin-top: 190px;width: 10px"></div>

    <div class='arrow' style="margin-left: 508px;margin-top: 200px;width: 32px"></div>

    <div class='rect_horizontal' style="margin-left: 508px;margin-top: 210px;width: 26px;"></div>
    <div class='rect_vertical' style="margin-left: 532px;margin-top: 212px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 534px;margin-top: 300px;width: 6px"></div>





    <div class='rect_horizontal' style="margin-left: 634px;margin-top: 100px;width: 22px;"></div>
    <div class='rect_vertical' style="margin-left: 654px;margin-top: 102px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 656px;margin-top: 190px;width: 10px"></div>

    <div class='arrow' style="margin-left: 634px;margin-top: 200px;width: 32px"></div>

    <div class='rect_horizontal' style="margin-left: 634px;margin-top: 300px;width: 26px;"></div>
    <div class='rect_vertical' style="margin-left: 658px;margin-top: 210px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 660px;margin-top: 210px;width: 6px"></div>


    <div style="border: 1px solid;border-color:#f8f8f8;border-left-color:black;margin-left:800px;height:378px;padding:20px">
            Some analysis text and buttons
    </div>

{% endblock %}