{% extends 'taskgraph/base.html' %}

{% load staticfiles %}

{% block title_block %}
    Signup
{% endblock %}

{% block body_block %}
<div class="container">

    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <a href="{%  url 'projects' %}" class="btn btn-lg btn-default">Sign in</a>
    </form>

</div>
{% endblock %}