{% extends 'taskgraph/profile/trackers.html' %}

{% load staticfiles %}

{% block content_block %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <form action="{% url 'trackers-add' %}" method="post" class="form-signin" role="form">
            {% csrf_token %}
            <h2 class="form-signin-heading">Add new task tracker</h2>
            <input name="url" type="url" class="form-control" placeholder="Server address" required autofocus>
            <input name="login" type="email" class="form-control" placeholder="Login" required autofocus>
            <input name="password" type="password" class="form-control" placeholder="Password" required>
            <input type="submit" class="btn btn-lg btn-default" value="Add">
        </form>
    </div>

{% endblock %}