{% extends 'taskgraph/base.html' %}

{% load staticfiles %}

{% block title_block %}
    Trackers
{% endblock %}

{% block navbar_list_block %}
    <ul class="nav navbar-nav">
        <li class="nav-item active"><a href="{% url 'trackers'%}">Trackers</a>
        </li>
    </ul>
{% endblock %}

{% block body_block %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {% for sub_menu_item in sub_menu %}
            {% autoescape off %}
            <li {{ sub_menu_item.css_class }}>
            {% endautoescape %}
            {% if sub_menu_item.url%}
                <a href="{% url sub_menu_item.url %}">
            {% else %}
                <a href="#">
            {% endif %}
            {{ sub_menu_item.name }}
            {% if sub_menu_item.active %}
                <span class="sr-only">(current)</span>
            {% endif %}
            </a></li>
            {% endfor %}
          </ul>
        </div>
       </div>
    </div>

    {% include 'taskgraph/alerts.html' %}

    {% block content_block %}
    {% endblock %}

{% endblock %}