{% extends 'taskgraph/profile/trackers.html' %}

{% load staticfiles %}

{% block title_block %}
    Trackers
{% endblock %}

{% block navbar_list_block %}
    <ul class="nav navbar-nav">
        <li class="nav-item active"><a href="{% url 'trackers'%}">Trackers</a>
        </li>
    </ul>
{% endblock %}

{% block content_block %}
    <div class="container-fluid">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Tracker</th>
                        <th>Url</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tracker in tracker_list %}
                    <tr>
                        <td>{{ tracker.type }}</td>
                        <td>{{ tracker.url }}</td>
                        <td>{{ tracker.user_name }}</td>

                        <td>
                            <div class="dropdown btn-group">
                                <a class="dropdown-toggle btn btn-lg btn-default" data-toggle="dropdown" href="#">
                                    Action
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li>
                                        <a tabindex="-1"
                                           href={% url 'trackers-delete' tracker.hash %}>
                                            Delete
                                        </a>
                                    </li>
                                    <li>
                                        <a tabindex="-1"
                                           href={% url 'trackers-edit' tracker.hash %}>
                                            Edit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}