{% extends 'taskgraph/base.html' %}

{% load staticfiles %}

{% block title_block %}
Edit
{% endblock %}

{% block navbar_list_block %}
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="{% url 'projects'%}">Projects</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'view'%}">View</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item active"><a href="{% url 'edit'%}">Edit</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'analysis'%}">Analysis</a>
        </li>
    </ul>
{% endblock %}

{% block body_block %}
    <div class='vertex solved' style="margin-left: 50px;margin-top: 183px">Task1</div>

    <div class='vertex solved' style="margin-left: 176px;margin-top: 83px">Task2</div>
    <div class='vertex solved' style="margin-left: 176px;margin-top: 183px">Task3</div>
    <div class='vertex solved' style="margin-left: 176px;margin-top: 283px">Task4</div>

    <div class='vertex active_vertex' style="margin-left: 306px;margin-top: 83px">Task5</div>
    <div class='vertex solved' style="margin-left: 306px;margin-top: 183px">Task6</div>

    <div class='vertex' style="margin-left: 428px;margin-top: 83px">Task7</div>
    <div class='vertex' style="margin-left: 428px;margin-top: 183px">Task8</div>

    <div class='vertex' style="margin-left: 554px;margin-top: 83px">Task9</div>
    <div class='vertex' style="margin-left: 554px;margin-top: 183px">Task10</div>
    <div class='vertex' style="margin-left: 554px;margin-top: 283px">Task11</div>

    <div class='vertex' style="margin-left: 680px;margin-top: 183px">Task12</div>





    <div class='line_horizontal' style="margin-left: 124px;margin-top: 190px;width: 28px;"></div>
    <div class='line_vertical' style="margin-left: 150px;margin-top: 100px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 152px;margin-top: 100px;width: 10px"></div>

    <div class='arrow' style="margin-left: 124px;margin-top: 200px;width: 38px"></div>

    <div class='line_horizontal' style="margin-left: 124px;margin-top: 210px;width: 32px;"></div>
    <div class='line_vertical' style="margin-left: 154px;margin-top: 212px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 156px;margin-top: 300px;width: 6px"></div>




    <div class='arrow' style="margin-left: 250px;margin-top: 90px;width: 42px"></div>

    <div class='line_horizontal' style="margin-left: 250px;margin-top: 100px;width: 28px;"></div>
    <div class='line_vertical' style="margin-left: 276px;margin-top: 102px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 278px;margin-top: 190px;width: 14px"></div>

    <div class='line_horizontal' style="margin-left: 250px;margin-top: 200px;width: 32px;"></div>
    <div class='line_vertical' style="margin-left: 280px;margin-top: 100px;height: 100px;"></div>
    <div class='arrow' style="margin-left: 282px;margin-top: 100px;width: 10px"></div>

    <div class='arrow' style="margin-left: 250px;margin-top: 210px;width: 42px"></div>

    <div class='line_horizontal' style="margin-left: 250px;margin-top: 300px;width: 36px;"></div>
    <div class='line_vertical' style="margin-left: 284px;margin-top: 200px;height: 100px;"></div>
    <div class='arrow' style="margin-left: 286px;margin-top: 200px;width: 6px"></div>




    <div class='arrow' style="margin-left: 380px;margin-top: 100px;width: 34px"></div>

    <div class='line_horizontal' style="margin-left: 380px;margin-top: 200px;width: 28px;"></div>
    <div class='line_vertical' style="margin-left: 406px;margin-top: 110px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 408px;margin-top: 110px;width: 6px"></div>

    <div class='arrow' style="margin-left: 380px;margin-top: 210px;width: 34px"></div>





    <div class='arrow' style="margin-left: 502px;margin-top: 100px;width: 38px"></div>

    <div class='line_horizontal' style="margin-left: 502px;margin-top: 110px;width: 28px;"></div>
    <div class='line_vertical' style="margin-left: 528px;margin-top: 112px;height: 80px;"></div>
    <div class='arrow' style="margin-left: 530px;margin-top: 190px;width: 10px"></div>

    <div class='arrow' style="margin-left: 502px;margin-top: 200px;width: 38px"></div>

    <div class='line_horizontal' style="margin-left: 502px;margin-top: 210px;width: 32px;"></div>
    <div class='line_vertical' style="margin-left: 532px;margin-top: 212px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 534px;margin-top: 300px;width: 6px"></div>





    <div class='line_horizontal' style="margin-left: 628px;margin-top: 100px;width: 28px;"></div>
    <div class='line_vertical' style="margin-left: 654px;margin-top: 102px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 656px;margin-top: 190px;width: 10px"></div>

    <div class='arrow' style="margin-left: 628px;margin-top: 200px;width: 38px"></div>

    <div class='line_horizontal' style="margin-left: 628px;margin-top: 300px;width: 32px;"></div>
    <div class='line_vertical' style="margin-left: 658px;margin-top: 210px;height: 90px;"></div>
    <div class='arrow' style="margin-left: 660px;margin-top: 210px;width: 6px"></div>


    <div style="border: 1px solid;border-color:white;border-left-color:black;margin-left:800px;height:378px;padding:20px">
        <div style="margin: 10px">
            <button style="width: 200px">Swap selected</button>
        </div>
        <div style="margin: 10px">
            <button style="width: 200px">Remove selected</button>
        </div>
        <div style="margin: 10px">
            <button style="width: 200px">Create task</button>
        </div>
        <div style="margin: 10px">
            <button style="width: 200px">Create relation</button>
        </div>
        <div style="margin: 10px">
            <button style="width: 200px">Assign perfomer</button>
        </div>
        <div style="margin: 10px">
            <button style="width: 200px">Edit milestone</button>
        </div>
        <div style="margin: 10px">
            <button style="width: 200px">Edit category</button>
        </div>
    </div>
{% endblock %}