{% extends 'taskgraph/base.html' %}

{% load staticfiles %}

{% block title_block %}
Edit
{% endblock %}

{% block additional_head_block %}

    <style>

        #cy {
            float: left;
            width: 100%;
            height: 480px;
            color: #337ab7;
        }

        .qtip_margin {}

    </style>

{% endblock %}

{% block navbar_list_block %}
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="{% url 'projects'%}">Projects</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'view'%}">View</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item active"><a href="{% url 'edit'%}">Edit</a>
        </li>
        <!--<li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'analysis'%}">Analysis</a>
        </li>-->
    </ul>
{% endblock %}

{% block body_block %}
{% csrf_token %}
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var changes = [];

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function sameOrigin(url) {
            var host = document.location.host;
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function sendpost() {
			$.post( window.location.toString().substr(0, window.location.toString().slice(0, -1).lastIndexOf("/")) + "/change-graph/",
			    {history: JSON.stringify(changes)}).done(function(data){alert(data);location.reload()});
		}


		$(function(){

		        var listOfEdgeTypes = [
		                {% for i in relation_types %}
		                            '{{i}}',
		                {% endfor %}
		        ]

		        var listOfNodeStatuses = [
		                {% for i in states %}
		                            '{{i}}',
		                {% endfor %}
		        ]

		        var listOfNodeAssignees = [
		                {% for i in assignees %}
		                            '{{i}}',
		                {% endfor %}
		        ]

                var listOfNodeCategorys = [
		                {% for i in categories %}
		                            '{{i}}',
		                {% endfor %}
		        ]

		        var listOfNodeMilestones = [
		                {% for i in milestones %}
		                            '{{i}}',
		                {% endfor %}
		        ]

				var cy = window.cy = cytoscape({
					container: document.getElementById('cy'),

					style: [
						{
							selector: 'node',
							style: {
								'shape': 'roundrect',
								'width': '70px',
								'height': '55px',
								'content': 'data(name)',
                                'color': '#666',
								'text-outline-width': 4,
								'text-outline-color': 'data(color1)',
								'text-valign': 'center',
								'background-color': 'data(color1)',
								'border-width': '3px',
								'border-color': 'data(color2)'
							}
						},

						{
							selector: 'edge',
							style: {

								'width': 3,
								'target-arrow-shape': 'triangle',
								'line-color': '#BBB',
								'target-arrow-color': '#BBB',
								'curve-style': 'bezier'
							}
						},

						{
							selector: 'node:selected',
							style: {
						        'border-color': '#999',
						        'background-color': '#CCC',
                                'text-outline-color': '#CCC',
                                'color' : '#444'
						        //'text-outline-color': '#b89fdd'
							}

						},

						{
							selector: 'edge:selected',
							style: {

								'width': 3,
								'target-arrow-shape': 'triangle',
								'line-color': '#333',
								'target-arrow-color': '#333',
								'curve-style': 'bezier'
							}
						},


					],

					elements: {
						nodes: [

						{% for i in all_nodes %}
						    { data:
                            { id: '{{i.0}}', name: '{{i.1}}', type: '{{i.2}}',
						         {% if i.2 == 'StartNode' %}
                                     color1: '#f8f8f8', color2: '#000000'
                                 {% else %}
                                     {% if i.2 == 'EndNode' %}
                                         color1: '#f8f8f8', color2: '#000000'
                                     {% else %}
                                         color1: '#f8f8f8', color2: '#BBB'
                                     {% endif %}
                                 {% endif %},

                                 info: {

                                    {% for j in i.3 %}

                                        '{{j.0}}': '{{j.1}}',

                                    {% endfor %}

                                 } } },
						{% endfor %}

						],
						edges: [

						    {% for i in all_edges %}
						        { data: { source: '{{i.0}}', target: '{{i.1}}', type: '{{i.2}}', edge_id: '{{i.3}}' } },
						    {% endfor %}
						]
					},

					layout: {
						name: 'preset',

						positions: {

						    {% for i in coords %}

						        '{{i.0}}': {x: {{i.1}}, y: {{i.2}} },

						    {% endfor %}
						}
					},


				});

				cy.on('mouseover', 'node', function(event) {
					    var node = event.cyTarget;
				    	$(".qtip").remove();

				    	if(isTipsEnabled){
				    		var attrs = Object.keys(node.attr('info'));
					    	var s = '<b>id</b>: '+node.attr('id')+'<br>';
					    	for (var i = 0; i < attrs.length; i++) {
					    		s+='<b>'+attrs[i]+'</b>: '+node.attr('info')[attrs[i]]+'<br>'
					    	}
					    	console.log(event)
						    node.qtip({
						         content: s,
				         		 style: { classes: 'qtip-bootstrap' },
						         show: {
						         	solo: true,
						            event: event.type,
						            ready: true
						         },
						         position: {
						            at: event.originalEvent.clientY > 380 ? 'top': 'bottom'
						         },
						         hide: {
						            event: 'mouseout unfocus'
						         }
						    }, event);
				    	}

					});

					cy.on('mouseover', 'edge', function(event) {
					    var edge = event.cyTarget;
				    	$(".qtip").remove();

				    	if(isTipsEnabled){
				    		document.styleSheets[4].cssRules[1].style.marginLeft = event.originalEvent.clientX + 'px';
					 		document.styleSheets[4].cssRules[1].style.marginTop  = event.originalEvent.clientY + 'px';

						    edge.qtip({
						         content: "<b>Type</b>: "+edge.attr('type'),
				         		 style: { classes: 'qtip-bootstrap qtip_margin',},
						         show: {
						         	solo: true,
						            event: event.type,
						            ready: true
						         },
						         hide: {
						            event: 'mouseout unfocus'
						         }
						    }, event);
				    	}


					});


					var currentStatusIndex;

					var cxtNodeStatuses = listOfNodeStatuses.map(function(e){
						return {
							id: 'cxtNodeStatus' + listOfNodeStatuses.indexOf(e),
							title: 'Status: ' + e,
							selector: 'node',
							onClickFunction: function (event) {
							    if(cy.nodes(':selected').length){
							        var selectedNodes = cy.nodes(':selected')
                                    for(var i = 0; i < selectedNodes.length; i++){
                                        var target = selectedNodes[i]
                                        var info = target.attr('info')
                                        info['status'] = e
                                        target.data('info', info)
                                        changes.push({
                                            'type': 'task',
                                            'action': 'changeStatus',
                                            'id': target.attr(target.attr('id')[0] !='_'? 'name': 'id'),
                                            'status': e,
                                        });
                                    }
							    }
							    else{
                                    var info = event.cyTarget.attr('info')
                                    info['status'] = e
                                    event.cyTarget.data('info', info)
                                    changes.push({
                                        'type': 'task',
                                        'action': 'changeStatus',
                                        'id': event.cyTarget.attr(event.cyTarget.attr('id')[0] !='_'? 'name': 'id'),
                                        'status': e,
                                      });
							    }

								cxt.removeMenuItem('cancelChangeNodeStatus');
								cxt.removeMenuItem('cxtNodeStatusesNext')
								cxt.removeMenuItem('cxtNodeStatusesPred')
	                        	listOfNodeStatuses.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeStatus' + listOfNodeStatuses.indexOf(e));
	                        	})
	                        	cxt.appendMenuItem(changeNodeStatus)
								cxt.appendMenuItem(changeNodeAssignee)
								cxt.appendMenuItem(changeNodeCategory)
								cxt.appendMenuItem(changeNodeMilestone)
	                        	console.log(changes);
                            },
                            hasTrailingDivider: true,
                            disabled: false,
                            coreAsWell: false
						}
					})


					var cancelChangeNodeStatus = {
						id: 'cancelChangeNodeStatus',
						title: 'Cancel',
						selector: 'node',
						onClickFunction: function (event) {
                        	cxt.removeMenuItem('cancelChangeNodeStatus');
							cxt.removeMenuItem('cxtNodeStatusesNext')
							cxt.removeMenuItem('cxtNodeStatusesPred')
                        	listOfNodeStatuses.map(function(e){
                        		cxt.removeMenuItem('cxtNodeStatus' + listOfNodeStatuses.indexOf(e));
                        	})
                        	cxt.appendMenuItem(changeNodeStatus)
							cxt.appendMenuItem(changeNodeAssignee)
							cxt.appendMenuItem(changeNodeCategory)
							cxt.appendMenuItem(changeNodeMilestone)
                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var changeNodeStatus = {
						id: 'changeNodeStatus',
						title: 'Change status',
						selector: 'node',
						onClickFunction: function (event) {
							cxt.removeMenuItem('changeNodeStatus')
							cxt.removeMenuItem('changeNodeAssignee')
							cxt.removeMenuItem('changeNodeCategory')
							cxt.removeMenuItem('changeNodeMilestone')
							cxt.appendMenuItem(cancelChangeNodeStatus)
							if(cxtNodeStatuses.length > 5){
								for(var i = 0; i < 5; i++){
									cxt.appendMenuItem(cxtNodeStatuses[i]);
								}
								cxt.appendMenuItem(cxtNodeStatusesNext);
								currentStatusIndex = 0;
							}
							else{
								cxt.appendMenuItems(cxtNodeStatuses);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtNodeStatusesNext = {
						id: 'cxtNodeStatusesNext',
						title: 'Next 5 statuses',
						selector: 'node',
						onClickFunction: function (event) {
							listOfNodeStatuses.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeStatus' + listOfNodeStatuses.indexOf(e));
	                        })
							cxt.removeMenuItem('cxtNodeStatusesNext')
							cxt.removeMenuItem('cxtNodeStatusesPred')
							currentStatusIndex += 5
							var next = currentStatusIndex + 5;
							for(var i = currentStatusIndex; i < next && i < listOfNodeStatuses.length; i++){
								cxt.appendMenuItem(cxtNodeStatuses[i]);
							}
							cxt.appendMenuItem(cxtNodeStatusesPred);
							if(listOfNodeStatuses.length > next){
								cxt.appendMenuItem(cxtNodeStatusesNext);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtNodeStatusesPred = {
						id: 'cxtNodeStatusesPred',
						title: 'Previous 5 statuses',
						selector: 'node',
						onClickFunction: function (event) {
							listOfNodeStatuses.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeStatus' + listOfNodeStatuses.indexOf(e));
	                        })
							cxt.removeMenuItem('cxtNodeStatusesNext')
							cxt.removeMenuItem('cxtNodeStatusesPred')
							var next = currentStatusIndex;
							currentStatusIndex -= 5;
							for(var i = currentStatusIndex; i < next; i++){
								cxt.appendMenuItem(cxtNodeStatuses[i]);
							}
							if(currentStatusIndex){
								cxt.appendMenuItem(cxtNodeStatusesPred);
							}
							cxt.appendMenuItem(cxtNodeStatusesNext);

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}


					var currentAssigneeIndex;

					var cxtNodeAssignees = listOfNodeAssignees.map(function(e){
						return {
							id: 'cxtNodeAssignee' + listOfNodeAssignees.indexOf(e),
							title: 'Assignee: ' + e,
							selector: 'node',
							onClickFunction: function (event) {
							    if(cy.nodes(':selected').length){
							        var selectedNodes = cy.nodes(':selected')
                                    for(var i = 0; i < selectedNodes.length; i++){
                                        var target = selectedNodes[i]
                                        var info = target.attr('info')
                                        info['assignee'] = e
                                        target.data('info', info)
                                        changes.push({
                                            'type': 'task',
                                            'action': 'changeAssignee',
                                            'id': target.attr(target.attr('id')[0] !='_'? 'name': 'id'),
                                            'assignee': e,
                                        });
                                    }
							    }
							    else{
							        var info = event.cyTarget.attr('info')
                                    info['assignee'] = e
                                    event.cyTarget.data('info', info)
                                    changes.push({
                                        'type': 'task',
                                        'action': 'changeAssignee',
                                        'id': event.cyTarget.attr(event.cyTarget.attr('id')[0] !='_'? 'name': 'id'),
                                        'assignee': e,
                                      });
							    }

								cxt.removeMenuItem('cancelChangeNodeAssignee');
								cxt.removeMenuItem('cxtNodeAssigneesNext')
								cxt.removeMenuItem('cxtNodeAssigneesPred')
	                        	listOfNodeAssignees.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeAssignee' + listOfNodeAssignees.indexOf(e));
	                        	})
	                        	cxt.appendMenuItem(changeNodeStatus)
								cxt.appendMenuItem(changeNodeAssignee)
								cxt.appendMenuItem(changeNodeCategory)
								cxt.appendMenuItem(changeNodeMilestone)
	                        	console.log(changes);
                            },
                            hasTrailingDivider: true,
                            disabled: false,
                            coreAsWell: false
						}
					})


					var cancelChangeNodeAssignee = {
						id: 'cancelChangeNodeAssignee',
						title: 'Cancel',
						selector: 'node',
						onClickFunction: function (event) {
                        	cxt.removeMenuItem('cancelChangeNodeAssignee');
							cxt.removeMenuItem('cxtNodeAssigneesNext')
							cxt.removeMenuItem('cxtNodeAssigneesPred')
                        	listOfNodeAssignees.map(function(e){
                        		cxt.removeMenuItem('cxtNodeAssignee' + listOfNodeAssignees.indexOf(e));
                        	})
                        	cxt.appendMenuItem(changeNodeStatus)
							cxt.appendMenuItem(changeNodeAssignee)
							cxt.appendMenuItem(changeNodeCategory)
							cxt.appendMenuItem(changeNodeMilestone)
                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var changeNodeAssignee = {
						id: 'changeNodeAssignee',
						title: 'Change assignee',
						selector: 'node',
						onClickFunction: function (event) {
							cxt.removeMenuItem('changeNodeStatus')
							cxt.removeMenuItem('changeNodeAssignee')
							cxt.removeMenuItem('changeNodeCategory')
							cxt.removeMenuItem('changeNodeMilestone')
							cxt.appendMenuItem(cancelChangeNodeAssignee)
							if(cxtNodeAssignees.length > 5){
								for(var i = 0; i < 5; i++){
									cxt.appendMenuItem(cxtNodeAssignees[i]);
								}
								cxt.appendMenuItem(cxtNodeAssigneesNext);
								currentAssigneeIndex = 0;
							}
							else{
								cxt.appendMenuItems(cxtNodeAssignees);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtNodeAssigneesNext = {
						id: 'cxtNodeAssigneesNext',
						title: 'Next 5 assignees',
						selector: 'node',
						onClickFunction: function (event) {
							listOfNodeAssignees.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeAssignee' + listOfNodeAssignees.indexOf(e));
	                        })
							cxt.removeMenuItem('cxtNodeAssigneesNext')
							cxt.removeMenuItem('cxtNodeAssigneesPred')
							currentAssigneeIndex += 5
							var next = currentAssigneeIndex + 5;
							for(var i = currentAssigneeIndex; i < next && i < listOfNodeAssignees.length; i++){
								cxt.appendMenuItem(cxtNodeAssignees[i]);
							}
							cxt.appendMenuItem(cxtNodeAssigneesPred);
							if(listOfNodeAssignees.length > next){
								cxt.appendMenuItem(cxtNodeAssigneesNext);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtNodeAssigneesPred = {
						id: 'cxtNodeAssigneesPred',
						title: 'Previous 5 assignees',
						selector: 'node',
						onClickFunction: function (event) {
							listOfNodeAssignees.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeAssignee' + listOfNodeAssignees.indexOf(e));
	                        })
							cxt.removeMenuItem('cxtNodeAssigneesNext')
							cxt.removeMenuItem('cxtNodeAssigneesPred')
							var next = currentAssigneeIndex;
							currentAssigneeIndex -= 5;
							for(var i = currentAssigneeIndex; i < next; i++){
								cxt.appendMenuItem(cxtNodeAssignees[i]);
							}
							if(currentAssigneeIndex){
								cxt.appendMenuItem(cxtNodeAssigneesPred);
							}
							cxt.appendMenuItem(cxtNodeAssigneesNext);

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}




					var currentCategoryIndex;

					var cxtNodeCategorys = listOfNodeCategorys.map(function(e){
						return {
							id: 'cxtNodeCategory' + listOfNodeCategorys.indexOf(e),
							title: 'Category: ' + e,
							selector: 'node',
							onClickFunction: function (event) {
							    if(cy.nodes(':selected').length){
							        var selectedNodes = cy.nodes(':selected')
                                    for(var i = 0; i < selectedNodes.length; i++){
                                        var target = selectedNodes[i]
                                        var info = target.attr('info')
                                        info['category'] = e
                                        target.data('info', info)
                                        changes.push({
                                            'type': 'task',
                                            'action': 'changeCategory',
                                            'id': target.attr(target.attr('id')[0] !='_'? 'name': 'id'),
                                            'category': e,
                                        });
                                    }
							    }
							    else{
							        var info = event.cyTarget.attr('info')
                                    info['category'] = e
                                    event.cyTarget.data('info', info)
                                    changes.push({
                                        'type': 'task',
                                        'action': 'changeCategory',
                                        'id': event.cyTarget.attr(event.cyTarget.attr('id')[0] !='_'? 'name': 'id'),
                                        'category': e,
                                      });
							    }

								cxt.removeMenuItem('cancelChangeNodeCategory');
								cxt.removeMenuItem('cxtNodeCategorysNext')
								cxt.removeMenuItem('cxtNodeCategorysPred')
	                        	listOfNodeCategorys.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeCategory' + listOfNodeCategorys.indexOf(e));
	                        	})
	                        	cxt.appendMenuItem(changeNodeStatus)
								cxt.appendMenuItem(changeNodeAssignee)
								cxt.appendMenuItem(changeNodeCategory)
								cxt.appendMenuItem(changeNodeMilestone)
	                        	console.log(changes);
                            },
                            hasTrailingDivider: true,
                            disabled: false,
                            coreAsWell: false
						}
					})


					var cancelChangeNodeCategory = {
						id: 'cancelChangeNodeCategory',
						title: 'Cancel',
						selector: 'node',
						onClickFunction: function (event) {
                        	cxt.removeMenuItem('cancelChangeNodeCategory');
							cxt.removeMenuItem('cxtNodeCategorysNext')
							cxt.removeMenuItem('cxtNodeCategorysPred')
                        	listOfNodeCategorys.map(function(e){
                        		cxt.removeMenuItem('cxtNodeCategory' + listOfNodeCategorys.indexOf(e));
                        	})
                        	cxt.appendMenuItem(changeNodeStatus)
							cxt.appendMenuItem(changeNodeAssignee)
							cxt.appendMenuItem(changeNodeCategory)
							cxt.appendMenuItem(changeNodeMilestone)
                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var changeNodeCategory = {
						id: 'changeNodeCategory',
						title: 'Change category',
						selector: 'node',
						onClickFunction: function (event) {
							cxt.removeMenuItem('changeNodeStatus')
							cxt.removeMenuItem('changeNodeAssignee')
							cxt.removeMenuItem('changeNodeCategory')
							cxt.removeMenuItem('changeNodeMilestone')
							cxt.appendMenuItem(cancelChangeNodeCategory)
							if(cxtNodeCategorys.length > 5){
								for(var i = 0; i < 5; i++){
									cxt.appendMenuItem(cxtNodeCategorys[i]);
								}
								cxt.appendMenuItem(cxtNodeCategorysNext);
								currentCategoryIndex = 0;
							}
							else{
								cxt.appendMenuItems(cxtNodeCategorys);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtNodeCategorysNext = {
						id: 'cxtNodeCategorysNext',
						title: 'Next 5 categories',
						selector: 'node',
						onClickFunction: function (event) {
							listOfNodeCategorys.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeCategory' + listOfNodeCategorys.indexOf(e));
	                        })
							cxt.removeMenuItem('cxtNodeCategorysNext')
							cxt.removeMenuItem('cxtNodeCategorysPred')
							currentCategoryIndex += 5
							var next = currentCategoryIndex + 5;
							for(var i = currentCategoryIndex; i < next && i < listOfNodeCategorys.length; i++){
								cxt.appendMenuItem(cxtNodeCategorys[i]);
							}
							cxt.appendMenuItem(cxtNodeCategorysPred);
							if(listOfNodeCategorys.length > next){
								cxt.appendMenuItem(cxtNodeCategorysNext);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtNodeCategorysPred = {
						id: 'cxtNodeCategorysPred',
						title: 'Previous 5 categories',
						selector: 'node',
						onClickFunction: function (event) {
							listOfNodeCategorys.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeCategory' + listOfNodeCategorys.indexOf(e));
	                        })
							cxt.removeMenuItem('cxtNodeCategorysNext')
							cxt.removeMenuItem('cxtNodeCategorysPred')
							var next = currentCategoryIndex;
							currentCategoryIndex -= 5;
							for(var i = currentCategoryIndex; i < next; i++){
								cxt.appendMenuItem(cxtNodeCategorys[i]);
							}
							if(currentCategoryIndex){
								cxt.appendMenuItem(cxtNodeCategorysPred);
							}
							cxt.appendMenuItem(cxtNodeCategorysNext);

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}


					var currentMilestoneIndex;

					var cxtNodeMilestones = listOfNodeMilestones.map(function(e){
						return {
							id: 'cxtNodeMilestone' + listOfNodeMilestones.indexOf(e),
							title: 'Milestone: ' + e,
							selector: 'node',
							onClickFunction: function (event) {
							    if(cy.nodes(':selected').length){
							        var selectedNodes = cy.nodes(':selected')
                                    for(var i = 0; i < selectedNodes.length; i++){
                                        var target = selectedNodes[i]
                                        var info = target.attr('info')
                                        info['milestone'] = e
                                        target.data('info', info)
                                        changes.push({
                                            'type': 'task',
                                            'action': 'changeMilestone',
                                            'id': target.attr(target.attr('id')[0] !='_'? 'name': 'id'),
                                            'milestone': e,
                                        });
                                    }
							    }
							    else{
							        var info = event.cyTarget.attr('info')
                                    info['milestone'] = e
                                    event.cyTarget.data('info', info)
                                    changes.push({
                                        'type': 'task',
                                        'action': 'changeMilestone',
                                        'id': event.cyTarget.attr(event.cyTarget.attr('id')[0] !='_'? 'name': 'id'),
                                        'milestone': e,
                                      });
							    }

								cxt.removeMenuItem('cancelChangeNodeMilestone');
								cxt.removeMenuItem('cxtNodeMilestonesNext')
								cxt.removeMenuItem('cxtNodeMilestonesPred')
	                        	listOfNodeMilestones.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeMilestone' + listOfNodeMilestones.indexOf(e));
	                        	})
	                        	cxt.appendMenuItem(changeNodeStatus)
								cxt.appendMenuItem(changeNodeAssignee)
								cxt.appendMenuItem(changeNodeCategory)
								cxt.appendMenuItem(changeNodeMilestone)
	                        	console.log(changes);
                            },
                            hasTrailingDivider: true,
                            disabled: false,
                            coreAsWell: false
						}
					})


					var cancelChangeNodeMilestone = {
						id: 'cancelChangeNodeMilestone',
						title: 'Cancel',
						selector: 'node',
						onClickFunction: function (event) {
                        	cxt.removeMenuItem('cancelChangeNodeMilestone');
							cxt.removeMenuItem('cxtNodeMilestonesNext')
							cxt.removeMenuItem('cxtNodeMilestonesPred')
                        	listOfNodeMilestones.map(function(e){
                        		cxt.removeMenuItem('cxtNodeMilestone' + listOfNodeMilestones.indexOf(e));
                        	})
                        	cxt.appendMenuItem(changeNodeStatus)
							cxt.appendMenuItem(changeNodeAssignee)
							cxt.appendMenuItem(changeNodeCategory)
							cxt.appendMenuItem(changeNodeMilestone)
                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var changeNodeMilestone = {
						id: 'changeNodeMilestone',
						title: 'Change milestone',
						selector: 'node',
						onClickFunction: function (event) {
							cxt.removeMenuItem('changeNodeStatus')
							cxt.removeMenuItem('changeNodeAssignee')
							cxt.removeMenuItem('changeNodeCategory')
							cxt.removeMenuItem('changeNodeMilestone')
							cxt.appendMenuItem(cancelChangeNodeMilestone)
							if(cxtNodeMilestones.length > 5){
								for(var i = 0; i < 5; i++){
									cxt.appendMenuItem(cxtNodeMilestones[i]);
								}
								cxt.appendMenuItem(cxtNodeMilestonesNext);
								currentMilestoneIndex = 0;
							}
							else{
								cxt.appendMenuItems(cxtNodeMilestones);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtNodeMilestonesNext = {
						id: 'cxtNodeMilestonesNext',
						title: 'Next 5 milestones',
						selector: 'node',
						onClickFunction: function (event) {
							listOfNodeMilestones.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeMilestone' + listOfNodeMilestones.indexOf(e));
	                        })
							cxt.removeMenuItem('cxtNodeMilestonesNext')
							cxt.removeMenuItem('cxtNodeMilestonesPred')
							currentMilestoneIndex += 5
							var next = currentMilestoneIndex + 5;
							for(var i = currentMilestoneIndex; i < next && i < listOfNodeMilestones.length; i++){
								cxt.appendMenuItem(cxtNodeMilestones[i]);
							}
							cxt.appendMenuItem(cxtNodeMilestonesPred);
							if(listOfNodeMilestones.length > next){
								cxt.appendMenuItem(cxtNodeMilestonesNext);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtNodeMilestonesPred = {
						id: 'cxtNodeMilestonesPred',
						title: 'Previous 5 milestones',
						selector: 'node',
						onClickFunction: function (event) {
							listOfNodeMilestones.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeMilestone' + listOfNodeMilestones.indexOf(e));
	                        })
							cxt.removeMenuItem('cxtNodeMilestonesNext')
							cxt.removeMenuItem('cxtNodeMilestonesPred')
							var next = currentMilestoneIndex;
							currentMilestoneIndex -= 5;
							for(var i = currentMilestoneIndex; i < next; i++){
								cxt.appendMenuItem(cxtNodeMilestones[i]);
							}
							if(currentMilestoneIndex){
								cxt.appendMenuItem(cxtNodeMilestonesPred);
							}
							cxt.appendMenuItem(cxtNodeMilestonesNext);

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}


					var currentTypeIndex;

					var cxtEdgeTypes = listOfEdgeTypes.map(function(e){
						return {
							id: 'cxtEdgeType' + listOfEdgeTypes.indexOf(e),
							title: 'Type: ' + e,
							selector: 'edge',
							onClickFunction: function (event) {
							    if(cy.edges(':selected').length){
							        var selectedEdges = cy.edges(':selected')
                                    for(var i = 0; i < selectedEdges.length; i++){
                                        var target = selectedEdges[i]
                                        target.data('type', e)
                                        changes.push({
                                            'type': 'relation',
                                            'action': 'changeType',
                                            'id': target.attr('edge_id'),
                                            'param': e,
                                          });
                                    }
							    }
							    else{
                                    event.cyTarget.data('type', e)
                                    changes.push({
                                        'type': 'relation',
                                        'action': 'changeType',
                                        'id': event.cyTarget.attr('edge_id'),
                                        'param': e,
                                      });
							    }

								cxt.removeMenuItem('cancelChangeTypeOfEdge');
								cxt.removeMenuItem('cxtEdgeTypesNext')
								cxt.removeMenuItem('cxtEdgeTypesPred')
	                        	listOfEdgeTypes.map(function(e){
	                        		cxt.removeMenuItem('cxtEdgeType' + listOfEdgeTypes.indexOf(e));
	                        	})
	                        	cxt.appendMenuItem(changeTypeOfEdge);
                            },
                            hasTrailingDivider: true,
                            disabled: false,
                            coreAsWell: false
						}
					})

					var cancelChangeTypeOfEdge = {
						id: 'cancelChangeTypeOfEdge',
						title: 'Cancel',
						selector: 'edge',
						onClickFunction: function (event) {
                        	cxt.removeMenuItem('cancelChangeTypeOfEdge');
							cxt.removeMenuItem('cxtEdgeTypesNext')
							cxt.removeMenuItem('cxtEdgeTypesPred')
                        	listOfEdgeTypes.map(function(e){
                        		cxt.removeMenuItem('cxtEdgeType' + listOfEdgeTypes.indexOf(e));
                        	})
                        	cxt.appendMenuItem(changeTypeOfEdge);
                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var changeTypeOfEdge = {
						id: 'changeTypeOfEdge',
						title: 'Change type',
						selector: 'edge',
						onClickFunction: function (event) {
							cxt.removeMenuItem('changeTypeOfEdge')
							cxt.appendMenuItem(cancelChangeTypeOfEdge)
							if(cxtNodeStatuses.length > 5){
								for(var i = 0; i < 5; i++){
									cxt.appendMenuItem(cxtEdgeTypes[i]);
								}
								cxt.appendMenuItem(cxtEdgeTypesNext);
								currentTypeIndex = 0;
							}
							else{
								cxt.appendMenuItems(cxtEdgeTypes);
							}
                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtEdgeTypesNext = {
						id: 'cxtEdgeTypesNext',
						title: 'Next 5 types',
						selector: 'edge',
						onClickFunction: function (event) {
							listOfEdgeTypes.map(function(e){
	                        		cxt.removeMenuItem('cxtEdgeType' + listOfEdgeTypes.indexOf(e));
	                        })
							cxt.removeMenuItem('cxtEdgeTypesNext')
							cxt.removeMenuItem('cxtEdgeTypesPred')
							currentTypeIndex += 5
							var next = currentTypeIndex + 5;
							for(var i = currentTypeIndex; i < next && i < listOfEdgeTypes.length; i++){
								cxt.appendMenuItem(cxtEdgeTypes[i]);
							}
							cxt.appendMenuItem(cxtEdgeTypesPred);
							if(listOfEdgeTypes.length > next){
								cxt.appendMenuItem(cxtEdgeTypesNext);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtEdgeTypesPred = {
						id: 'cxtEdgeTypesPred',
						title: 'Previous 5 types',
						selector: 'edge',
						onClickFunction: function (event) {
							listOfEdgeTypes.map(function(e){
	                        		cxt.removeMenuItem('cxtEdgeType' + listOfEdgeTypes.indexOf(e));
	                        })
							cxt.removeMenuItem('cxtEdgeTypesNext')
							cxt.removeMenuItem('cxtEdgeTypesPred')
							var next = currentTypeIndex;
							currentTypeIndex -= 5;
							for(var i = currentTypeIndex; i < next; i++){
								cxt.appendMenuItem(cxtEdgeTypes[i]);
							}
							if(currentTypeIndex){
								cxt.appendMenuItem(cxtEdgeTypesPred);
							}
							cxt.appendMenuItem(cxtEdgeTypesNext);

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var isTipsEnabled = true;

					var disableTips = {
								id: 'disableTips',
                                title: 'Disable tips',
                                selector: '',
                                onClickFunction: function (event) {
                                	cxt.insertBeforeMenuItem(enableTips, 'disableTips');
                                  	cxt.removeMenuItem('disableTips');
                                  	isTipsEnabled = false;
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: true
					}

					var enableTips = {
								id: 'enableTips',
                                title: 'Enable tips',
                                selector: '',
                                onClickFunction: function (event) {
                                	cxt.insertBeforeMenuItem(disableTips, 'enableTips');
                                  	cxt.removeMenuItem('enableTips');
                                  	isTipsEnabled = true;
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: true
					}

					var createNode = {
								id: 'createNode',
                                title: 'Create node',
                                selector: '',
                                onClickFunction: function (event) {
                                	var node = cy.add({
                                		group: 'nodes',
                                		data: { id: '_'+(Math.random()*1000000000|0),
                                				name: 'New', type: '',
                                				color1: '#f8f8f8', color2: '#BBB',
                                				info: {}}
                                	});
                                	node.renderedPosition({x:event.originalEvent.clientX - 50, y: event.originalEvent.clientY - 90});
                                	changes.push({
                                		'type': 'task',
                                		'action': 'add',
                                		'id': node.attr('id'),
                                	});
                                	console.log(changes);
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: true
					}

					var remove = {
                                id: 'remove',
                                title: 'Remove',
                                selector: 'node, edge',
                                onClickFunction: function (event) {

                                  var target = event.cyTarget;
                                  if(target.isEdge()){
                                  	target.remove();
									changes.push({
	                                  	'type': 'relation',
	                                  	'action': 'delete',
	                                  	'id': target.attr('edge_id'),
	                                  });
                                	console.log(changes);
                                  }
                                  else if(target.isNode()){
                                  	alert('You do not have permission to remove the task');
                                  }

                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: false
                    }

					var newEdge = {
                                id: 'newEdge',
                                title: 'New edge',
                                selector: 'node',
                                onClickFunction: function (event) {
                                	cxt.removeMenuItem('newEdge');
                                	cxt.appendMenuItem(createEdge);
                                	cxt.appendMenuItem(finish);
                                	cxt.firstEdge = event.cyTarget;
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: false
                    }

					var createEdge = {
                                id: 'createEdge',
                                title: 'Create edge',
                                selector: 'node',
                                onClickFunction: function (event) {
                                    if(cy.nodes(':selected').length){
                                        var selectedNodes = cy.nodes(':selected')
                                        for(var i = 0; i < selectedNodes.length; i++){
                                            var target = selectedNodes[i]
                                            var edge = cy.add({
                                                group: 'edges',
                                                data: { source: cxt.firstEdge.attr('id'),
                                                        target: target.attr('id'),
                                                        type: listOfEdgeTypes[0],
                                                        edge_id:  '_'+(Math.random()*1000000000|0),}
                                            });
                                            changes.push({
                                                'type': 'relation',
                                                'action': 'add',
                                                'id': edge.attr('edge_id'),
                                                'from': cxt.firstEdge.attr(cxt.firstEdge.attr('id')[0] !='_'? 'name': 'id'),
                                                'to': target.attr(target.attr('id')[0] !='_'? 'name': 'id'),
                                            });
                                        }
                                    }
                                    else{
                                        var edge = cy.add({
                                            group: 'edges',
                                            data: { source: cxt.firstEdge.attr('id'),
                                                    target: event.cyTarget.attr('id'),
                                                    type: listOfEdgeTypes[0],
                                                    edge_id:  '_'+(Math.random()*1000000000|0),}
                                        });
                                        changes.push({
                                            'type': 'relation',
                                            'action': 'add',
                                            'id': edge.attr('edge_id'),
                                            'from': cxt.firstEdge.attr(cxt.firstEdge.attr('id')[0] !='_'? 'name': 'id'),
                                            'to': event.cyTarget.attr(event.cyTarget.attr('id')[0] !='_'? 'name': 'id'),
                                        });
                                    }

                                	console.log(changes);
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: false
                    }

                    var finish = {
                                id: 'finish',
                                title: 'Finish',
                                selector: '*',
                                onClickFunction: function (event) {
                                	cxt.removeMenuItem('createEdge');
                                	cxt.removeMenuItem('finish');
                                	cxt.appendMenuItem(newEdge);
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: true
                    }

                    var editTask = {
                    			id: 'editTask',
                    			title: 'Edit task',
                    			selector: 'node',
                    			onClickFunction: function (event) {
                    			    if(changes.length > 0){
                                        alert('You should save changes')
                    			    }
                    			    else{
                    			        window.location = window.location.toString()
                    			        .substr(0, window.location.toString().slice(0, -1)
                    			        .lastIndexOf("/")) + "/task-edit/?task=" + event.cyTarget.attr('name')
                    			    }
                    			},
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: false
                    }

                    var normalSize = {
                    			id: 'normalSize',
                    			title: 'Normal size',
                    			selector: '',
                    			onClickFunction: function (event) {
                    				cy.fit();
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: true
                    }

					var cxt = cy.contextMenus({
                        menuItems: [
                        	 normalSize,
                        	 disableTips,
                        	 editTask,
                             remove,
                             newEdge,
                             createNode,
                             changeTypeOfEdge,
							 changeNodeStatus,
							 changeNodeAssignee,
							 changeNodeCategory,
							 changeNodeMilestone,
                        ],
                        menuItemClasses: ['qtip-bootstrap'],
                        contextMenuClasses: ['qtip-bootstrap']
                    });




			});

		</script>

        {% include 'taskgraph/alerts.html' %}

        <input type='button' onclick='sendpost()' value="Save changes"/>

		<div id="cy"></div>
{% endblock %}