{% extends 'taskgraph/base.html' %}

{% load staticfiles %}

{% block title_block %}
Edit
{% endblock %}

{% block additional_head_block %}

    <style>

        #cy {
            float: left;
            width: 100%;
            height: 480px;
            color: #337ab7;
        }

        .qtip_margin {}

    </style>

{% endblock %}

{% block navbar_list_block %}
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="{% url 'projects'%}">Projects</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'view'%}">View</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item active"><a href="{% url 'edit'%}">Edit</a>
        </li>
        <!--<li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'analysis'%}">Analysis</a>
        </li>-->
    </ul>
{% endblock %}

{% block body_block %}
{% csrf_token %}
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var changes = [];

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function sameOrigin(url) {
            var host = document.location.host;
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function sendpost() {
			$.post( window.location.toString().substr(0, window.location.toString().slice(0, -1).lastIndexOf("/")) + "/change-graph/",
			    {history: JSON.stringify(changes)}).done(location.reload());
		}


		$(function(){

                var listOfEdgeTypes = ['type1', 'type2', 'type3', 'type4', 'type5',
                     'type6', 'type7', 'type8', 'type9', 'type10', 'type11', 'type12'];

                var listOfNodeStatuses = ['status1', 'status2', 'status3', 'status4', 'status5',
                    'status6', 'status7', 'status8', 'status9', 'status11', 'status12','status13', 'status14',
                    'status15','status16', 'status17', 'status18','status19', 'status20', 'status21'];

				var cy = window.cy = cytoscape({
					container: document.getElementById('cy'),

					style: [
						{
							selector: 'node',
							style: {
								'shape': 'roundrect',
								'width': '70px',
								'height': '55px',
								'content': 'data(name)',
                                'color': '#666',
								'text-outline-width': 4,
								'text-outline-color': 'data(color1)',
								'text-valign': 'center',
								'background-color': 'data(color1)',
								'border-width': '3px',
								'border-color': 'data(color2)'
							}
						},

						{
							selector: 'edge',
							style: {

								'width': 3,
								'target-arrow-shape': 'triangle',
								'line-color': '#BBB',
								'target-arrow-color': '#BBB',
								'curve-style': 'bezier'
							}
						},

						{
							selector: 'node:selected',
							style: {
						        'border-color': '#999',
						        'background-color': '#CCC',
                                'text-outline-color': '#CCC',
                                'color' : '#444'
						        //'text-outline-color': '#b89fdd'
							}

						}
					],

					elements: {
						nodes: [

						{% for i in all_nodes %}
						    { data:
                            { id: '{{i.0}}', name: '{{i.1}}', type: '{{i.2}}',
						         {% if i.2 == 'StartNode' %}
                                     color1: '#f8f8f8', color2: '#000000'
                                 {% else %}
                                     {% if i.2 == 'EndNode' %}
                                         color1: '#f8f8f8', color2: '#000000'
                                     {% else %}
                                         color1: '#f8f8f8', color2: '#BBB'
                                     {% endif %}
                                 {% endif %},

                                 info: {

                                    {% for j in i.3 %}

                                        '{{j.0}}': '{{j.1}}',

                                    {% endfor %}

                                 } } },
						{% endfor %}

						],
						edges: [

						    {% for i in all_edges %}
						        { data: { source: '{{i.0}}', target: '{{i.1}}', type: '{{i.2}}', edge_id: '{{i.3}}' } },
						    {% endfor %}
						]
					},

					layout: {
						name: 'preset',

						positions: {

						    {% for i in coords %}

						        '{{i.0}}': {x: {{i.1}}, y: {{i.2}} },

						    {% endfor %}
						}
					},


				});

				cy.on('mouseover', 'node', function(event) {
					    var node = event.cyTarget;
				    	$(".qtip").remove();

				    	if(isTipsEnabled){
				    		var attrs = Object.keys(node.attr('info'));
					    	var s = '<b>id</b>: '+node.attr('id')+'<br>';
					    	for (var i = 0; i < attrs.length; i++) {
					    		s+='<b>'+attrs[i]+'</b>: '+node.attr('info')[attrs[i]]+'<br>'
					    	}
						    node.qtip({
						         content: s,
				         		 style: { classes: 'qtip-bootstrap' },
						         show: {
						         	solo: true,
						            event: event.type,
						            ready: true
						         },
						         position: {
						            at: event.originalEvent.clientY > 380 ? 'top': 'bottom'
						         },
						         hide: {
						            event: 'mouseout unfocus'
						         }
						    }, event);
				    	}

					});

					cy.on('mouseover', 'edge', function(event) {
					    var edge = event.cyTarget;
				    	$(".qtip").remove();

				    	if(isTipsEnabled){
				    		document.styleSheets[4].cssRules[1].style.marginLeft = event.originalEvent.clientX + 'px';
					 		document.styleSheets[4].cssRules[1].style.marginTop  = event.originalEvent.clientY + 'px';

						    edge.qtip({
						         content: "<b>Type</b>: "+edge.attr('type'),
				         		 style: { classes: 'qtip-bootstrap qtip_margin',},
						         show: {
						         	solo: true,
						            event: event.type,
						            ready: true
						         },
						         hide: {
						            event: 'mouseout unfocus'
						         }
						    }, event);
				    	}


					});


					var currentStatusIndex;

					var cxtNodeStatuses = listOfNodeStatuses.map(function(e){
						return {
							id: 'cxtNodeStatus' + e,
							title: 'Status: ' + e,
							selector: 'node',
							onClickFunction: function (event) {
								var info = event.cyTarget.attr('info')
								info['status'] = e
								event.cyTarget.data('info', info)
								changes.push({
                                  	'status': e,
                                  	'action': 'changeStatus',
                                  	'id': event.cyTarget.attr('name'),
									'type': 'node'
                                  });
								cxt.removeMenuItem('cancelChangeNodeStatus');
								cxt.removeMenuItem('cxtNodeStatusesNext')
								cxt.removeMenuItem('cxtNodeStatusesPred')
	                        	listOfNodeStatuses.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeStatus' + e);
	                        	})
	                        	cxt.appendMenuItem(changeNodeStatus)
	                        	console.log(changes);
                            },
                            hasTrailingDivider: true,
                            disabled: false,
                            coreAsWell: false
						}
					})


					var cancelChangeNodeStatus = {
						id: 'cancelChangeNodeStatus',
						title: 'Cancel',
						selector: 'node',
						onClickFunction: function (event) {
                        	cxt.removeMenuItem('cancelChangeNodeStatus');
							cxt.removeMenuItem('cxtNodeStatusesNext')
							cxt.removeMenuItem('cxtNodeStatusesPred')
                        	listOfNodeStatuses.map(function(e){
                        		cxt.removeMenuItem('cxtNodeStatus' + e);
                        	})
                        	cxt.appendMenuItem(changeNodeStatus)
                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var changeNodeStatus = {
						id: 'changeNodeStatus',
						title: 'Change status',
						selector: 'node',
						onClickFunction: function (event) {
							cxt.removeMenuItem('changeNodeStatus')
							cxt.appendMenuItem(cancelChangeNodeStatus)
							if(cxtNodeStatuses.length > 5){
								for(var i = 0; i < 5; i++){
									cxt.appendMenuItem(cxtNodeStatuses[i]);
								}
								cxt.appendMenuItem(cxtNodeStatusesNext);
								currentStatusIndex = 0;
							}
							else{
								cxt.appendMenuItems(cxtNodeStatuses);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtNodeStatusesNext = {
						id: 'cxtNodeStatusesNext',
						title: 'Next 5 statuses',
						selector: 'node',
						onClickFunction: function (event) {
							listOfNodeStatuses.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeStatus' + e);
	                        })
							cxt.removeMenuItem('cxtNodeStatusesNext')
							cxt.removeMenuItem('cxtNodeStatusesPred')
							currentStatusIndex += 5
							var next = currentStatusIndex + 5;
							for(var i = currentStatusIndex; i < next && i < listOfNodeStatuses.length; i++){
								cxt.appendMenuItem(cxtNodeStatuses[i]);
							}
							cxt.appendMenuItem(cxtNodeStatusesPred);
							if(listOfNodeStatuses.length > next){
								cxt.appendMenuItem(cxtNodeStatusesNext);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtNodeStatusesPred = {
						id: 'cxtNodeStatusesPred',
						title: 'Previous 5 statuses',
						selector: 'node',
						onClickFunction: function (event) {
							listOfNodeStatuses.map(function(e){
	                        		cxt.removeMenuItem('cxtNodeStatus' + e);
	                        })
							cxt.removeMenuItem('cxtNodeStatusesNext')
							cxt.removeMenuItem('cxtNodeStatusesPred')
							var next = currentStatusIndex;
							currentStatusIndex -= 5;
							for(var i = currentStatusIndex; i < next; i++){
								cxt.appendMenuItem(cxtNodeStatuses[i]);
							}
							if(currentStatusIndex){
								cxt.appendMenuItem(cxtNodeStatusesPred);
							}
							cxt.appendMenuItem(cxtNodeStatusesNext);

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}


					var currentTypeIndex;

					var cxtEdgeTypes = listOfEdgeTypes.map(function(e){
						return {
							id: 'cxtEdgeType' + e,
							title: 'Type: ' + e,
							selector: 'edge',
							onClickFunction: function (event) {
								event.cyTarget.data('type', e)
								changes.push({
                                  	'type': 'relation',
                                  	'from': event.cyTarget.attr('source'),
                                  	'to': event.cyTarget.attr('target'),
                                  	'action': 'change',
                                  	'id': event.cyTarget.attr('edge_id'),
                                  	'param': e
                                  });
								cxt.removeMenuItem('cancelChangeTypeOfEdge');
								cxt.removeMenuItem('cxtEdgeTypesNext')
								cxt.removeMenuItem('cxtEdgeTypesPred')
	                        	listOfEdgeTypes.map(function(e){
	                        		cxt.removeMenuItem('cxtEdgeType' + e);
	                        	})
	                        	cxt.insertBeforeMenuItem(changeTypeOfEdge, 'newEdge');
                            },
                            hasTrailingDivider: true,
                            disabled: false,
                            coreAsWell: false
						}
					})

					var cancelChangeTypeOfEdge = {
						id: 'cancelChangeTypeOfEdge',
						title: 'Cancel',
						selector: 'edge',
						onClickFunction: function (event) {
                        	cxt.removeMenuItem('cancelChangeTypeOfEdge');
							cxt.removeMenuItem('cxtEdgeTypesNext')
							cxt.removeMenuItem('cxtEdgeTypesPred')
                        	listOfEdgeTypes.map(function(e){
                        		cxt.removeMenuItem('cxtEdgeType' + e);
                        	})
                        	cxt.insertBeforeMenuItem(changeTypeOfEdge, 'newEdge');
                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var changeTypeOfEdge = {
						id: 'changeTypeOfEdge',
						title: 'Change type',
						selector: 'edge',
						onClickFunction: function (event) {
							cxt.removeMenuItem('changeTypeOfEdge')
							cxt.appendMenuItem(cancelChangeTypeOfEdge)
							if(cxtNodeStatuses.length > 5){
								for(var i = 0; i < 5; i++){
									cxt.appendMenuItem(cxtEdgeTypes[i]);
								}
								cxt.appendMenuItem(cxtEdgeTypesNext);
								currentTypeIndex = 0;
							}
							else{
								cxt.appendMenuItems(cxtEdgeTypes);
							}
                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtEdgeTypesNext = {
						id: 'cxtEdgeTypesNext',
						title: 'Next 5 types',
						selector: 'edge',
						onClickFunction: function (event) {
							listOfEdgeTypes.map(function(e){
	                        		cxt.removeMenuItem('cxtEdgeType' + e);
	                        })
							cxt.removeMenuItem('cxtEdgeTypesNext')
							cxt.removeMenuItem('cxtEdgeTypesPred')
							currentTypeIndex += 5
							var next = currentTypeIndex + 5;
							for(var i = currentTypeIndex; i < next && i < listOfEdgeTypes.length; i++){
								cxt.appendMenuItem(cxtEdgeTypes[i]);
							}
							cxt.appendMenuItem(cxtEdgeTypesPred);
							if(listOfEdgeTypes.length > next){
								cxt.appendMenuItem(cxtEdgeTypesNext);
							}

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var cxtEdgeTypesPred = {
						id: 'cxtEdgeTypesPred',
						title: 'Previous 5 types',
						selector: 'edge',
						onClickFunction: function (event) {
							listOfEdgeTypes.map(function(e){
	                        		cxt.removeMenuItem('cxtEdgeType' + e);
	                        })
							cxt.removeMenuItem('cxtEdgeTypesNext')
							cxt.removeMenuItem('cxtEdgeTypesPred')
							var next = currentTypeIndex;
							currentTypeIndex -= 5;
							for(var i = currentTypeIndex; i < next; i++){
								cxt.appendMenuItem(cxtEdgeTypes[i]);
							}
							if(currentTypeIndex){
								cxt.appendMenuItem(cxtEdgeTypesPred);
							}
							cxt.appendMenuItem(cxtEdgeTypesNext);

                        },
                        hasTrailingDivider: true,
                        disabled: false,
                        coreAsWell: false
					}

					var isTipsEnabled = true;

					var disableTips = {
								id: 'disableTips',
                                title: 'Disable tips',
                                selector: '',
                                onClickFunction: function (event) {
                                	cxt.insertBeforeMenuItem(enableTips, 'disableTips');
                                  	cxt.removeMenuItem('disableTips');
                                  	isTipsEnabled = false;
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: true
					}

					var enableTips = {
								id: 'enableTips',
                                title: 'Enable tips',
                                selector: '',
                                onClickFunction: function (event) {
                                	cxt.insertBeforeMenuItem(disableTips, 'enableTips');
                                  	cxt.removeMenuItem('enableTips');
                                  	isTipsEnabled = true;
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: true
					}

					var createNode = {
								id: 'createNode',
                                title: 'Create node',
                                selector: '',
                                onClickFunction: function (event) {
                                	var node = cy.add({
                                		group: 'nodes',
                                		data: { id: '_'+(Math.random()*1000000000|0),
                                				name: 'New', type: '',
                                				color1: '#f8f8f8', color2: '#BBB',
                                				info: {}}
                                	});
                                	node.renderedPosition({x:event.originalEvent.clientX - 50, y: event.originalEvent.clientY - 90});
                                	changes.push({
                                		'type': 'task',
                                		'task_id': node.attr('id'),
	                                  	'action': 'add'
                                	});
                                	console.log(changes);
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: true
					}

					var remove = {
                                id: 'remove',
                                title: 'Remove',
                                selector: 'node, edge',
                                onClickFunction: function (event) {

                                  var target = event.cyTarget;
                                  if(target.isEdge()){
                                  	target.remove();
									changes.push({
	                                  	'type': 'relation',
	                                  	'from': target.attr('source'),
	                                  	'to': target.attr('target'),
	                                  	'action': 'delete',
	                                  	'id': target.attr('edge_id'),
	                                  });
                                	console.log(changes);
                                  }
                                  else if(target.isNode()){
                                  	alert('You do not have permission to remove the task');
                                  }

                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: false
                    }

					var newEdge = {
                                id: 'newEdge',
                                title: 'New edge',
                                selector: 'node',
                                onClickFunction: function (event) {
                                	cxt.removeMenuItem('newEdge');
                                	cxt.appendMenuItem(createEdge);
                                	cxt.appendMenuItem(finish);
                                	cxt.firstEdge = event.cyTarget;
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: false
                    }

					var createEdge = {
                                id: 'createEdge',
                                title: 'Create edge',
                                selector: 'node',
                                onClickFunction: function (event) {
                                	var edge = cy.add({
                                		group: 'edges',
                                		data: { source: cxt.firstEdge.attr('id'),
                                				target: event.cyTarget.attr('id'),
                                				type: listOfEdgeTypes[0],
                                				edge_id:  '_'+(Math.random()*1000000000|0),}
                                	});
                                	changes.push({
                                		'type': 'relation',
                                		'from': cxt.firstEdge.attr('id'),
	                                  	'to': event.cyTarget.attr('id'),
	                                  	'action': 'add',
	                                  	'id': edge.attr('edge_id'),
                                	});
                                	console.log(changes);
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: false
                    }

                    var finish = {
                                id: 'finish',
                                title: 'Finish',
                                selector: '*',
                                onClickFunction: function (event) {
                                	cxt.removeMenuItem('createEdge');
                                	cxt.removeMenuItem('finish');
                                	cxt.appendMenuItem(newEdge);
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: true
                    }

                    var editTask = {
                    			id: 'editTask',
                    			title: 'Edit task',
                    			selector: 'node',
                    			onClickFunction: function (event) {
                    				window.location = window.location.toString().substr(0, window.location.toString().slice(0, -1).lastIndexOf("/")) + "/task-edit/?task=" + event.cyTarget.attr('name')
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: false
                    }

                    var normalSize = {
                    			id: 'normalSize',
                    			title: 'Normal size',
                    			selector: '',
                    			onClickFunction: function (event) {
                    				cy.fit();
                                },
                                hasTrailingDivider: true,
                                disabled: false,
                                coreAsWell: true
                    }

					var cxt = cy.contextMenus({
                        menuItems: [
                        	 normalSize,
                        	 disableTips,
                        	 editTask,
                             remove,
                             newEdge,
                             createNode,
                             changeTypeOfEdge,
							 changeNodeStatus
                        ],
                        menuItemClasses: ['qtip-bootstrap'],
                        contextMenuClasses: ['qtip-bootstrap']
                    });




			});

		</script>

        {% include 'taskgraph/alerts.html' %}

        <input type='button' onclick='sendpost()' value="Save changes"/>

		<div id="cy"></div>
{% endblock %}