{% extends 'taskgraph/base.html' %}

{% load staticfiles %}

{% block title_block %}
Projects
{% endblock %}

{% block navbar_list_block %}
    <ul class="nav navbar-nav">
        <li class="nav-item active"><a href="{% url 'projects'%}">Projects</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'view'%}">View</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'edit'%}">Edit</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'analysis'%}">Analysis</a>
        </li>
    </ul>
{% endblock %}

{% block body_block %}

        <div class="col-sm-3 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2>Choose projects, to work with</h2>
            <div class="table-responsive">
                <table class="table table-striped" style="margin-top:0px">
                    <tbody>

                    <tr>
                        <td>Redmine</td>
                        <td>https://some.super.address/</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>

                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>Project1</td>
                        <td><input type="checkbox" /></td>
                    </tr>

                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>Project2</td>
                        <td><input type="checkbox" /></td>
                    </tr>

                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>Project3</td>
                        <td><input type="checkbox" /></td>
                    </tr>

                    <tr>
                        <td>Redmine</td>
                        <td>https://some.super.address2/</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>

                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>Project1</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>Redmine</td>
                        <td>https://some.super.address3/</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>Project1</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>Project2</td>
                        <td><input type="checkbox" /></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}