{% extends 'taskgraph/base.html' %}

{% load staticfiles %}

{% block title_block %}
Projects
{% endblock %}

{% block additional_head_block %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>

    <script type="text/javascript">
        function get_active_list() {
            var tree = $('#tree');
            var selected = tree.treeview('getSelected');
            var nodes = [];

            var node_arr_ind;
            for (node_arr_ind = 0;  node_arr_ind < selected.length; ++node_arr_ind) {
                var node = selected[node_arr_ind];
                var hierarchy = [{'name': node.text}];
                while (node.nodeId !== undefined) {
                    node = tree.treeview('getParent', node.nodeId);
                    hierarchy.push({'name': node.text});
                }
                nodes.push(hierarchy);
            }

            return nodes;
        }

        function post_active() {
            setupAjaxForCsrf();
            $.ajax({
                url: "{% url 'post-active-projects' %}",
                type: "POST",
                data: JSON.stringify(get_active_list()),

                success : function(json) { $('#post-text').val(''); // remove the value from the input
                    $('#alert_placeholder').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><span>Active list has been updated</span></div>')
                    }


            });
        }
    </script>

{% endblock %}

{% block navbar_list_block %}
    <ul class="nav navbar-nav">
        <li class="nav-item active"><a href="{% url 'projects'%}">Projects</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'view'%}">View</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'edit'%}">Edit</a>
        </li>
        <!--<li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'analysis'%}">Analysis</a>
        </li>-->
    </ul>
{% endblock %}

{% block body_block %}

    <div id = "alert_placeholder"></div>
    <div id="tree"></div>
    <input class="btn btn-lg btn-default" data-toggle="dropdown"
           type="button" value="Update active" onclick="post_active();"/>
    <a class="btn btn-lg btn-default" href="{% url 'projects' 'update'%}">Restore projects</a>

    <script>
        var tree_view_data = {{ tree_json|safe }};
        $('#tree').treeview({data: tree_view_data, showTags: true}); // multiSelect: true
    </script>

{% endblock %}