{% extends 'taskgraph/base.html' %}

{% load staticfiles %}

{% block title_block %}
Task edit
{% endblock %}

{% block navbar_list_block %}
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="{% url 'projects'%}">Projects</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'view'%}">View</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'edit'%}">Edit</a>
        </li>
        <!--<li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'analysis'%}">Analysis</a>
        <li class="divider-vertical"></li>-->
        <li class="nav-item active"><a href="{% url 'task-edit'%}">Task edit</a>
        </li>
    </ul>
{% endblock %}


{% block body_block %}

    {% include 'taskgraph/alerts.html' %}
    {% if no_error %}

        <div class="col-md-10 col-md-offset-1 main">

            <h4 align="center">
                Task ID: {{task_id}}<br>
                Project: {{project}}<br><br>
            </h4>
            {{post}}
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <input type="hidden" name="task" value="{{task_id}}" />

                <div class="row">

                    <div class="col-md-6">
                        {% for field in meta_fields %}
                            <div class="form-group">
                                <label class="col-md-4 control-label">{{field.name}}</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="category">
                                        {% for item in field.list %}
                                            <option
                                            {% if item == field.value %}
                                                selected = "selected"
                                            {% endif %}
                                            >{{item}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-6">
                        {% for field in add_fields %}
                            {% if field.type == 'DateField' %}
                                <div class="form-group">
                                    <label class="col-md-4 control-label">{{field.name}}</label>
                                    <div class="col-md-8">
                                        <input name="{{field.name}}" type="date" value="{{field.value}}" class="form-control">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% for field in add_fields %}
                            {% if field.type == 'CharField'%}
                                <div class="form-group">
                                    <label class="col-md-4">{{field.name}}</label>
                                    <br>
                                    <div class="col-md-12">
                                        <input name="{{field.name}}" value="{{field.value}}" class="form-control">
                                    </div>
                                </div>
                            {% endif %}
                            {% if field.type == 'TextField'%}
                                <div class="form-group">
                                    <label class="col-md-4">{{field.name}}</label>
                                    <br>
                                    <div class="col-md-12">
                                        <textarea name="{{field.name}}" rows="5" class="form-control">{{field.value}}</textarea>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <br>

                <div class="row">

                    <div class="col-md-5 col-md-offset-1 ">
                        <label>Depends on:</label>
                        <table class="table table-striped">
                            {% if not to_relations %}
                                <br>No tasks
                            {% endif %}
                            {% for relation in to_relations %}
                                <tr>
                                    <td><a href="/taskgraph/task-edit/?task={{relation.id}}&project={{project_id}}">Task id: {{relation.id}}, relation: {{relation.type}}</a></td>
                                    <td align="right">
                                        <span class="btn btn-default btn-xs"><img src="/static/img/remove-icon.png" width="12"></span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="col-md-5 ">
                        <label>Dependent tasks:</label>
                        <table class="table table-striped">
                            {% if not from_relations %}
                                <br>No tasks
                            {% endif %}
                            {% for relation in from_relations %}
                                <tr>
                                    <td><a href="/taskgraph/task-edit/?task={{relation.id}}&project={{project_id}}">Task id: {{relation.id}}, relation: {{relation.type}}</a></td>
                                    <td align="right">
                                        <span class="btn btn-default btn-xs"><img src="/static/img/remove-icon.png" width="12"></span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>

                <input type="submit" class="btn btn-default" value="Confirm changes">
            </form>

        </div>
    {% endif %}

{% endblock %}