{% extends 'taskgraph/base.html' %}

{% load staticfiles %}

{% block title_block %}
Task edit
{% endblock %}

{% block navbar_list_block %}
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="{% url 'projects'%}">Projects</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'view'%}">View</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'edit'%}">Edit</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'analysis'%}">Analysis</a>
        <li class="divider-vertical"></li>
        <li class="nav-item active"><a href="{% url 'task-edit'%}">Task edit</a>
        </li>
    </ul>
{% endblock %}

{% block body_block %}

    <div class="col-md-10 col-md-offset-1 main">

        <h3>Task name must be here</h3>
        Project: {{project}}<br><br>

        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Category</label>
                        <div class="col-md-8">
                            <select class="form-control">
                                {% for c in category_list %}
                                    <option
                                    {% if c == category %}
                                        selected = "selected"
                                    {% endif %}
                                    >{{c}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Milestone</label>
                        <div class="col-md-8">
                            <select class="form-control">
                                {% for m in milestone_list %}
                                    <option
                                    {% if m == milestone %}
                                        selected = "selected"
                                    {% endif %}
                                    >{{m}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Assignee</label>
                        <div class="col-md-8">
                            <select class="form-control">
                                {% for a in assignee_list %}
                                    <option
                                    {% if a == assignee %}
                                        selected = "selected"
                                    {% endif %}
                                    >{{a}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">State</label>
                        <div class="col-md-8">
                            <select class="form-control">
                                {% for s in state_list %}
                                    <option
                                    {% if s == state %}
                                        selected = "selected"
                                    {% endif %}
                                    >{{s}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-group col-md-6">
                    {% for field in add_fields %}
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{field.0}}</label>
                            <div class="col-md-8">
                                {{ field.1 |safe }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <br>

            <div class="row">

                <div class="col-md-5 col-md-offset-1 ">
                    <label>Depends on:</label>
                    <table class="table table-striped">
                        {% if not to_relations %}
                            <br>No tasks
                        {% endif %}
                        {% for relation in to_relations %}
                            <tr>
                                <td><a href="/taskgraph/task-edit/?task=1">{{relation}}</a></td>
                                <td align="right">
                                    <span class="btn btn-default btn-xs"><img src="/static/img/remove-icon.png" width="12"></span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="col-md-5 ">
                    <label>Dependent tasks:</label>
                    <table class="table table-striped">
                        {% if not from_relations %}
                            <br>No tasks
                        {% endif %}
                        {% for relation in from_relations %}
                            <tr>
                                <td><a href="/taskgraph/task-edit/?task=1">{{relation}}</a></td>
                                <td align="right">
                                    <span class="btn btn-default btn-xs"><img src="/static/img/remove-icon.png" width="12"></span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>

           <input type="submit" class="btn btn-default" value="Confirm changes">
        </form>

    </div>

{% endblock %}