{% extends 'taskgraph/base.html' %}

{% load staticfiles %}

{% block title_block %}
    View
{% endblock %}

{% block additional_head_block %}

    <style>

        #cy {
            float: left;
            width: 100%;
            height: 520px;
            margin-top: -20px;
            color: #337ab7;
        }

    </style>

{% endblock %}

{% block navbar_list_block %}
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="{% url 'projects'%}">Projects</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item active"><a href="{% url 'view'%}">View</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'edit'%}">Edit</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'analysis'%}">Analysis</a>
        </li>
    </ul>
{% endblock %}

{% block body_block %}
    <script>
			$(function(){

				var cy = window.cy = cytoscape({
					container: document.getElementById('cy'),

					style: [
						{
							selector: 'node',
							style: {
								'shape': 'roundrect',
								'width': '70px',
								'height': '55px',
								'content': 'data(name)',
                                'color': '#666',
								'text-outline-width': 4,
								'text-outline-color': 'data(color1)',
								'text-valign': 'center',
								'background-color': 'data(color1)',
								'border-width': '3px',
								'border-color': 'data(color2)'
							}
						},

						{
							selector: 'edge',
							style: {

								'width': 3,
								'target-arrow-shape': 'triangle',
								'line-color': '#BBB',
								'target-arrow-color': '#BBB',
								'curve-style': 'bezier'
							}
						},

						{
							selector: 'node:selected',
							style: {
						        'border-color': '#999',
						        'background-color': '#CCC',
                                'text-outline-color': '#CCC',
                                'color' : '#444'
						        //'text-outline-color': '#b89fdd'
							}

						}
					],

					elements: {
						nodes: [

						{% for i in all_nodes %}
						    { data:
                            { id: '{{i.0}}', name: '{{i.1}}', category: '{{i.2}}',
                                assign: '{{i.3}}', critrank: {{i.4}}, status: '{{i.5}}',
						         {% if i.5 == 'Solved' %}
                                     color1: '#f8f8f8', color2: '#BBB'
                                 {% else %}
                                     color1: '#f8f8f8', color2: '#BBB'
                                 {% endif %}
						    } },
						{% endfor %}

						],
						edges: [

						    {% for i in all_edges %}
						        { data: { source: '{{i.0}}', target: '{{i.1}}' } },
						    {% endfor %}
						]
					},

					layout: {
						name: 'preset',

						positions: {

						    {% for i in all_nodes %}

						        '{{i.0}}': {x: {{i.6}}, y: {{i.7}} },

						    {% endfor %}
						}
					},


				});

				cy.on('mouseover', 'node', function(event) {
					    var node = event.cyTarget;
					    $(".qtip").remove();
					    node.qtip({
					         content: '<b>Name:</b> '+node.attr('name')+'<br><b>Category:</b> '+node.attr('category')+'<br><b>Assign:</b> '+node.attr('assign')+'<br><b>Critical rank:</b> '+node.attr('critrank')+'<br><b>Status:</b> '+node.attr('status')+'<br>',
			         		 style: { classes: 'qtip-bootstrap' },
					         show: {
					            event: event.type,
					            ready: true
					         },
					         hide: {
					            event: 'mouseout unfocus'
					         }
					    }, event);
					});

			});


		</script>

		<div id="cy"></div>


{% endblock %}