{% extends 'taskgraph/base.html' %}

{% load staticfiles %}

{% block title_block %}
    View
{% endblock %}

{% block additional_head_block %}

    <style>

        #cy {
                float: left;
                width: 100%;
                height: 480px;
                color: #337ab7;
                border: 1px solid #DDDDDD;
                border-radius: 4px;
            }

            .qtip_margin {}

            .context_item {
                list-style-type: none;
                padding-left: 5;
                padding-right: 5;
                cursor: default;
            }

            .context_item:hover{
                background: #CCCCCC;
            }

            .context_list {
                background: white;
                padding: 0px;
                border: 1px solid grey;
                border-radius: 4px;
                position:absolute;
                z-index: 10000000;
                top: 0px;
                left: 0px;
                display: none;
            }

    </style>

{% endblock %}

{% block navbar_list_block %}
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="{% url 'projects'%}">Projects</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item active"><a href="{% url 'view'%}">View</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'edit'%}">Edit</a>
        </li>
        <!--<li class="divider-vertical"></li>
        <li class="nav-item"><a href="{% url 'analysis'%}">Analysis</a>
        </li>-->
    </ul>
{% endblock %}

{% block body_block %}
    <script>


            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var changes = [];
            var curr_node_and_edge = [undefined, undefined, undefined];

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            function sameOrigin(url) {
                var host = document.location.host;
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            function sendpost() {
                $.post( window.location.toString().substr(0, window.location.toString().slice(0, -1).lastIndexOf("/")) + "/change-graph/",
                    {history: JSON.stringify(changes)}).done(function(data){alert(data);location.reload()});
            }
            var colors1 = ['#f8f8f8', '#efebe9', '#eceff1', '#ffebee', '#fce4ec', '#f3e5f5', '#ede7f6', '#e8eaf6', '#e3f2fd', '#e1f5fe',
                           '#e0f7fa', '#e0f2f1', '#e8f5e9', '#f1f8e9', '#f9fbe7', '#fffde7', '#fff8e1', '#fff3e0', '#fbe9e7']
            var colors3 = ['#cccccc', '#d7ccc8', '#cfd8dc', '#ffcdd2', '#f8bbd0', '#e1bee7', '#d1c4e9', '#c5cae9', '#bbdefb', '#b3e5fc',
                           '#b2ebf2', '#b2dfdb', '#c8e6c9', '#dcedc8', '#f0f4c3', '#fff9c4', '#ffecb3', '#ffe0b2', '#ffccbc']
            var colors2 = ['#bbbbbb', '#bcaaa4', '#b0bec5', '#ef9a9a', '#f48fb1', '#ce93d8', '#b39ddb', '#9fa8da', '#90caf9', '#81d4fa',
                           '#80deea', '#80cbc4', '#a5d6a7', '#c5e1a5', '#e6ee9c', '#fff59d', '#ffe082', '#ffcc80', '#ffab91']

            var change_colors;
			$(function(){

                var isTipsEnabled = true;

				var cy = window.cy = cytoscape({
					container: document.getElementById('cy'),

					style: [
						{
							selector: 'node',
							style: {
								'shape': 'roundrect',
								'width': '70px',
								'height': '55px',
								'content': 'data(name)',
                                'color': '#666',
								'text-outline-width': 4,
								'text-outline-color': 'data(color1)',
								'text-valign': 'center',
								'background-color': 'data(color1)',
								'border-width': '3px',
								'border-color': 'data(color2)'
							}
						},

						{
							selector: 'edge',
							style: {

								'width': 3,
								'target-arrow-shape': 'triangle',
								'line-color': '#BBB',
								'target-arrow-color': '#BBB',
								'curve-style': 'bezier'
							}
						},

						{
							selector: 'node:selected',
							style: {
						        'border-color': 'data(color2)',
						        'background-color': 'data(color3)',
                                'text-outline-color': 'data(color3)',
                                'color' : '#444'
						        //'text-outline-color': '#b89fdd'
							}

						},

						{
							selector: 'edge:selected',
							style: {

								'width': 3,
								'target-arrow-shape': 'triangle',
								'line-color': '#333',
								'target-arrow-color': '#333',
								'curve-style': 'bezier'
							}
						},
					],

					elements: {
						nodes: [

						{% for i in all_nodes %}
						    { data:
                            { id: '{{i.0}}', name: '{{i.1}}', type: '{{i.2}}',

                                 color1: colors1[{{i.6}}],

                                 color2: colors2[{{i.6}}],

                                 color3: colors3[{{i.6}}],



                                 info: {

                                    {% for j in i.3 %}

                                        '{{j.0}}': '{{j.1}}',

                                    {% endfor %}

                                 } } },
						{% endfor %}

						],
						edges: [

						    {% for i in all_edges %}
						        { data: { source: '{{i.0}}', target: '{{i.1}}', type: '{{i.2}}', edge_id: '{{i.3}}' } },
						    {% endfor %}
						]
					},

					layout: {
						name: 'preset',

						positions: {

						    {% for i in coords %}
						        '{{i.0}}': {x: {{i.1}}, y: {{i.2}} },
						    {% endfor %}
						}
					},


				});

				cy.on('mouseover', 'node', function(event) {
					    var node = event.cyTarget;
				    	$(".qtip").remove();

				    	if(isTipsEnabled){
				    		var attrs = Object.keys(node.attr('info'));
					    	var s = '<b>id</b>: '+node.attr('name')+'<br>';
					    	for (var i = 0; i < attrs.length; i++) {
					    		s+='<b>'+attrs[i]+'</b>: '+node.attr('info')[attrs[i]]+'<br>'
					    	}
						    node.qtip({
						         content: s,
				         		 style: { classes: 'qtip-bootstrap' },
						         show: {
						         	solo: true,
						            event: event.type,
						            ready: true
						         },
						         hide: {
						            event: 'mouseout unfocus'
						         }
						    }, event);
				    	}

					});

					cy.on('mouseover', 'edge', function(event) {
					    var edge = event.cyTarget;
				    	$(".qtip").remove();

				    	if(isTipsEnabled){
				    		document.styleSheets[4].cssRules[1].style.marginLeft = event.originalEvent.clientX + 'px';
					 		document.styleSheets[4].cssRules[1].style.marginTop  = event.originalEvent.clientY + 'px';

						    edge.qtip({
						         content: "<b>Type</b>: "+edge.attr('type'),
				         		 style: { classes: 'qtip-bootstrap qtip_margin',},
						         show: {
						         	solo: true,
						            event: event.type,
						            ready: true
						         },
						         hide: {
						            event: 'mouseout unfocus'
						         }
						    }, event);
				    	}



					});

	cy.on('cxttap', function(event){

        a=$('ul[id^=cxt]');
        for (var i = a.length - 1; i >= 0; i--) {
            a[i].style.display = "none";
        }

        if(event.cyTarget.length === undefined){
            ccxt = $('#cxtbody')[0];
            ccxt.style.display = 'block';
            ccxt.style.top = (event.originalEvent.clientY + ccxt.clientHeight + 2 > $(window).height()?
                               $(window).height() - ccxt.clientHeight - 2: event.originalEvent.clientY) + 'px';
            ccxt.style.left = (event.originalEvent.clientX + ccxt.clientWidth + 2 > $(window).width()?
                                   $(window).width() - ccxt.clientWidth - 2: event.originalEvent.clientX) + 'px';
        }

        else if(event.cyTarget.isNode()){
            ccxt = $('#cxtnode')[0];
            ccxt.style.display = 'block';
            ccxt.style.top = (event.originalEvent.clientY + ccxt.clientHeight + 2 > $(window).height()?
                               $(window).height() - ccxt.clientHeight - 2: event.originalEvent.clientY) + 'px';
            ccxt.style.left = (event.originalEvent.clientX + ccxt.clientWidth + 2 > $(window).width()?
                                   $(window).width() - ccxt.clientWidth - 2: event.originalEvent.clientX) + 'px';
            curr_node_and_edge[0] = event.cyTarget;
        }

        else if(event.cyTarget.isEdge()){
            ccxt = $('#cxtedge')[0];
            ccxt.style.display = 'block';
            ccxt.style.top = (event.originalEvent.clientY + ccxt.clientHeight + 2 > $(window).height()?
                               $(window).height() - ccxt.clientHeight - 2: event.originalEvent.clientY) + 'px';
            ccxt.style.left = (event.originalEvent.clientX + ccxt.clientWidth + 2 > $(window).width()?
                                   $(window).width() - ccxt.clientWidth - 2: event.originalEvent.clientX) + 'px';
            curr_node_and_edge[1] = event.cyTarget;
        }

    });

    cy.on('click', function(event){
        a=$('ul[id^=cxt]');
        for (var i = a.length - 1; i >= 0; i--) {
            a[i].style.display='none';
        }
    });

    document.getElementById("_edit_task").addEventListener("mouseover", function(event){
        a=$('ul[id^=cxt_]');
        for (var i = a.length - 1; i >= 0; i--) {
            a[i].style.display = "none";
        }
    });

    document.getElementById("_edit_task").addEventListener("click", function(event){
        document.getElementById("cxtnode").style.display = "none";
        if(changes.length > 0){
            alert('You should save changes')
        }
        else{
            window.location = window.location.toString()
            .substr(0, window.location.toString().slice(0, -1)
            .lastIndexOf("/")) + "/task-edit/?task=" + curr_node_and_edge[0].attr('name')
        }
    });



    document.getElementById("_normal_size").addEventListener("mouseover", function(event){
        a=$('ul[id^=cxt_]');
        for (var i = a.length - 1; i >= 0; i--) {
            a[i].style.display = "none";
        }
    });

    document.getElementById("_normal_size").addEventListener("click", function(event){
        document.getElementById("cxtbody").style.display = "none";
        cy.fit();
    });





    document.getElementById("_disable_tips").addEventListener("mouseover", function(event){
        a=$('ul[id^=cxt_]');
        for (var i = a.length - 1; i >= 0; i--) {
            a[i].style.display = "none";
        }
    });

    document.getElementById("_disable_tips").addEventListener("click", function(event){
        document.getElementById("cxtbody").style.display = "none";
        if(document.getElementById("_disable_tips").innerHTML === 'Disable tips'){
            isTipsEnabled = false;
            document.getElementById("_disable_tips").innerHTML = 'Enable tips';
        }
        else{
            isTipsEnabled = true;
            document.getElementById("_disable_tips").innerHTML = 'Disable tips';
        }
    });



    document.getElementById("_save_changes").addEventListener("mouseover", function(event){
        a=$('ul[id^=cxt_]');
        for (var i = a.length - 1; i >= 0; i--) {
            a[i].style.display = "none";
        }
    });

    document.getElementById("_save_changes").addEventListener("click", function(event){
        a=$('ul[id^=cxt]');
        for (var i = a.length - 1; i >= 0; i--) {
            a[i].style.display = "none";
        }
        sendpost();
    });





    document.getElementById("_change_color").addEventListener("mouseover", function(event){
        a=$('ul[id^=cxt_]');
        for (var i = a.length - 1; i >= 0; i--) {
            a[i].style.display = "none";
        }
        a=$('#cxt_colors')[0];
        a.style.display = 'block';
        a.style.top = +document.getElementById("cxtnode").style.top.slice(0, -2) + 20 + 'px';
        a.style.left = +document.getElementById("cxtnode").style.left.slice(0, -2) + cxtnode.clientWidth + 1 + 'px';
    });

    b=$('li[id^=o_');
    for (var i = b.length - 1; i >= 0; i--) {
        b[i].addEventListener("click", function(event){
            e=event.target.innerHTML
            index = ['default', 'brown', 'steel', 'pink', 'violet', 'plum', 'purple', 'cobalt', 'blue', 'aqua',
                     'sea', 'aquamarine', 'forest', 'green', 'lime', 'yellow', 'orange', 'bisque', 'peach'].indexOf(e)
            document.getElementById("cxtnode").style.display = "none";
            document.getElementById("cxt_colors").style.display = "none";
            if(cy.nodes(':selected').length){
                var selectedNodes = cy.nodes(':selected')
                for(var i = 0; i < selectedNodes.length; i++){
                    var node = selectedNodes[i]
                    changes.push({
                        'type' : 'task',
                        'action' : 'changeColor',
                        'id' : node.attr(node.attr('id')[0] !='_'? 'name': 'id'),
                        'color' : index
                     });
                     node.data('color1', colors1[index])
                     node.data('color2', colors2[index])
                     node.data('color3', colors3[index])
                }
            }
            else{
                var node = curr_node_and_edge[0]
                changes.push({
                    'type' : 'task',
                    'action' : 'changeColor',
                    'id' : node.attr(node.attr('id')[0] !='_'? 'name': 'id'),
                    'color' : index
                 });
                 node.data('color1', colors1[index])
                 node.data('color2', colors2[index])
                 node.data('color3', colors3[index])
            }
            selectedNodes.unselect();
            console.log(changes);
        });
    }

			});


		</script>

        {% include 'taskgraph/alerts.html' %}

		<div id="cy"></div>

{% endblock %}

{% block after_body %}

    <ul id="cxtnode" class='list-unstyled context_list'>
        <li id="_edit_task" class="context_item">Edit task</li>
        <li id="_change_color" class="context_item">Change color &nbsp;<span style="float: right;color: #AAAAAA">&#9658;</span></li>
    </ul>

    <ul id="cxtbody" class='list-unstyled context_list'>
        <li id="_normal_size" class="context_item">Normal size</li>
        <li id="_disable_tips" class="context_item">Disable tips</li>
        <li id="_save_changes" class="context_item">Save changes</li>
    </ul>

    <ul id="cxt_colors" class='list-unstyled context_list'>
        <li id="o_1" class="context_item" style="background:#F8F8F8">default</li>
        <li id="o_2" class="context_item" style="background:#D7CCC8">brown</li>
        <li id="o_3" class="context_item" style="background:#CFD8DC">steel</li>
        <li id="o_4" class="context_item" style="background:#FFCDD2">pink</li>
        <li id="o_5" class="context_item" style="background:#F8BBD0">violet</li>
        <li id="o_6" class="context_item" style="background:#E1BEE7">plum</li>
        <li id="o_7" class="context_item" style="background:#D1C4E9">purple</li>
        <li id="o_8" class="context_item" style="background:#C5CAE9">cobalt</li>
        <li id="o_9" class="context_item" style="background:#BBDEFB">blue</li>
        <li id="o_10" class="context_item" style="background:#B3E5FC">aqua</li>
        <li id="o_11" class="context_item" style="background:#B2EBF2">sea</li>
        <li id="o_12" class="context_item" style="background:#B2DFDB">aquamarine</li>
        <li id="o_13" class="context_item" style="background:#C8E6C9">forest</li>
        <li id="o_14" class="context_item" style="background:#DCEDC8">green</li>
        <li id="o_15" class="context_item" style="background:#F0F4C3">lime</li>
        <li id="o_16" class="context_item" style="background:#FFF9C4">yellow</li>
        <li id="o_17" class="context_item" style="background:#FFECB3">orange</li>
        <li id="o_18" class="context_item" style="background:#FFE0B2">bisque</li>
        <li id="o_19" class="context_item" style="background:#FFCCBC">peach</li>
    </ul>

{% endblock %}